body{
    background-color:whitesmoke;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: maroon;
  }
button{
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}